#ssylkamenu{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
  }
  #test{
    display: flex;
  }
  #menu{
    text-align: right;
  }
  #logo img{
    max-width: 14%;
  }
  .menu {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-flex;
    background-color: #66993300;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
  }
  .menu li {
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  } 
 
  .menu a li{
    color: burlywood;
    background-color: #66993300;
  }
  .menu li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
  }
  .menu li:hover {
    color: black;
    background-color: #ccff9900;
  }
  .menu li:hover::before {
    background: linear-gradient(to bottom, burlywood, #ffffcc);
    box-shadow: 0px 3px 20px 0px #6d3a04;
    transform: scale(1.2);
  }
  