html{
    font-size: 18px;
    font-family: 'Arial';
}

body{
    margin: 0;
    background: linear-gradient(45deg, rgb(84, 255, 50), rgb(252, 160, 75));
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;

}

#osnova{
    text-align: center;
    font-size: 1.2em;
    max-width: 1200px;
    margin: auto;

}

#plitki{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}

#plitka{
    margin-top: 10px;
    width: 90%;
    background-color: #ffffcc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid burlywood 2px;
}

#foto{
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 242, 169);
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    border-radius: 15px;
}